<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error />
	<ste:default_success />
	
	<h2>Latest Packages</h2>
	<table class="listtab fullwidth">
		<thead>
			<tr>
				<th>Package Name</th>
				<th>Version</th>
				<th>Description</th>
				<th>Author</th>
				<th>Last update</th>
			</tr>
		</thead>
		<tbody>
			<ste:if>
				<ste:set var="pkgs_n"><ste:arraylen array="latest_pkgs" /></ste:set>
				~{$pkgs_n|gt|0}
				<ste:then>
					<ste:foreach array="latest_pkgs" value="pkg">
						<tr>
							<td><a href="$rel_path_to_root/p/<ste:escape>$pkg[name]</ste:escape>"><ste:escape>$pkg[name]</ste:escape></a></td>
							<td><ste:escape>$pkg[version]</ste:escape></td>
							<td><ste:escape>$pkg[description]</ste:escape></td>
							<td><ste:escape>$pkg[author]</ste:escape></td>
							<td><ste:date timestamp="$pkg[last_update]">%d. %h. %Y, %H:%M:%S</ste:date></td>
						</tr>
					</ste:foreach>
				</ste:then>
				<ste:else>
					<tr>
						<td style="text-align: center; font-style: italic;" colspan="5">No Packages available.</td>
					</tr>
				</ste:else>
			</ste:if>
		</tbody>
	</table>
</ste:block>
